@charset "UTF-8";
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #F8FAFC;
}

header {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
}

main {
  flex: 1 0 auto;
}

.header {
  display: flex;
  height: 65px;
  justify-content: space-between;
}
.header__account {
  display: flex;
  align-items: center;
}
.header__account-login {
  margin-left: 50px;
}
.header__account-link {
  color: #000;
}
.header__account-link:hover {
  text-decoration: none;
}
.header__account .fa {
  padding: 5px;
  color: #c4c4c4;
}

.filter {
  margin-top: 30px;
  display: flex;
  height: 45px;
}
.filter .form-control {
  border-radius: 0;
  height: 100%;
}
.filter .form-control:focus {
  box-shadow: none;
}
.filter .city {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.filter__select {
  min-width: 160px;
}
.filter__search {
  width: 100%;
  display: flex;
}
.filter__search-link {
  background: #FEDB31;
  color: #000;
  font-size: 20px;
  width: 60px;
  height: 100%;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__search-link:hover {
  text-decoration: none;
}

.brand {
  margin-top: 70px;
}
.brand__title {
  font-size: 26px;
}
.brand__list {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.brand__item {
  width: 20%;
  margin-bottom: 16px;
}
.brand__item:hover {
  text-decoration: none;
}
.brand__item-name {
  color: #000;
}
.brand__item-count {
  margin-left: 8px;
  padding-right: 16px;
  color: #90969D;
}
.brand__item-all {
  color: #0056b3;
}
.brand__item-all:hover {
  color: #007bff;
}

.new-sales {
  margin-top: 70px;
}
.new-sales__header {
  display: flex;
  justify-content: space-between;
}
.new-sales__title {
  font-size: 26px;
}
.new-sales__arrow {
  display: flex;
}
.new-sales__arrow a {
  background: #fff;
  color: #000;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}
.new-sales__arrow a:hover {
  text-decoration: none;
  color: #90969D;
}
.new-sales__list {
  display: flex;
  margin-top: 25px;
}
.new-sales__auto {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 30px;
}
.new-sales__auto:last-child {
  margin-right: 0;
}
.new-sales__auto-img {
  display: flex;
}
.new-sales__auto-img img {
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.new-sales__auto-name {
  margin-top: 25px;
  color: #000;
}
.new-sales__auto-price {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin: 12px 0;
}
.new-sales__auto-price span {
  background: #E2E8EF;
  border-radius: 6px;
  padding: 5px;
}
.new-sales__auto-description {
  color: #7c7d7e;
}

.article {
  margin-top: 65px;
}
.article__header {
  font-size: 26px;
}
.article__content {
  margin-top: 25px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.article__block {
  height: 200px;
  width: 380px;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  background-position-y: 50%;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.article__block:hover {
  text-decoration: none;
  color: #db3727;
}
.article__block:before {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  content: "";
  opacity: 0.5;
  border-radius: 4px;
  background-image: linear-gradient(180deg, transparent, #000);
}
.article__block:last-child {
  margin-top: 30px;
}
.article .big {
  width: 700px;
  height: 430px;
  margin-right: 30px;
}
.article .big .article__block-title {
  font-size: 26px;
}

footer {
  margin-top: 80px;
  height: 65px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: #fff;
  font-size: 14px;
}

.car {
  margin-top: 25px;
}
.car-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 2px solid #cccccc;
}
.car-header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 42px;
}
.car-header__subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #5B5B5B;
}
.car-header__subtitle .date {
  margin-right: 40px;
}
.car-header__subtitle .fa {
  margin: 0 10px;
}
.car-header__subtitle-favorite {
  color: #5B5B5B;
}
.car-header__subtitle-favorite:hover {
  text-decoration: none;
}
.car-content {
  margin-top: 45px;
  display: flex;
}
.car-slider {
  width: 60%;
  height: 440px;
  padding-right: 25px;
}
.car-slider__main {
  height: 440px;
  width: 100%;
}
.car-slider__small {
  height: 80px;
  padding: 4px;
}
.car-info {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.car-tabs {
  height: 440px;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.car-tabs__nav {
  display: flex;
}
.car-tabs__nav-item.active {
  color: #495057;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.car-tabs__nav-item {
  color: #ccc;
  width: 50%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 1px solid #dee2e6;
}
.car-tabs__nav-item:first-child {
  border-right: 1px solid #dee2e6;
}
.car-tabs__nav-item:hover {
  text-decoration: none;
  color: #495057;
  font-weight: 500;
}
.car-tabs__content {
  height: 100%;
}
.car-tabs__specification {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car-tabs__specification-item {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
.car-tabs__specification-item:last-child {
  padding: 0;
  border: 0;
}
.car-tabs__description {
  padding: 20px;
}
.car__button {
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  background: #FEDB31;
  border: 0;
  border-radius: 4px;
  padding: 17px;
  margin-top: 10px;
}
.car__button:hover {
  background: #004584;
  color: #fff;
  transition: all 0.3s ease;
}
.car .tab-content > .active {
  display: flex;
}
.car .slider-nav {
  margin-top: 7px;
}
.car .slick-prev,
.car .slick-next {
  z-index: 5;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.car .slick-next {
  right: 5px;
}
.car .slick-prev {
  left: 5px;
}
.car .slick-next:before {
  content: "";
}
.car .slick-prev:before {
  content: "";
}
.car .slick-prev:before, .car .slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.favorite__header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.favorite__header-title {
  font-weight: 500;
  font-size: 26px;
}
.favorite__header-sort {
  width: 210px;
}

.catalog {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.catalog-item {
  display: flex;
  margin-bottom: 15px;
  height: 210px;
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(14, 50, 99, 0.08), 0 0 1px rgba(14, 50, 99, 0.3);
  border-radius: 6px;
  overflow: hidden;
}
.catalog-item__image {
  width: 260px;
  overflow: hidden;
}
.catalog-item__image img {
  height: 100%;
}
.catalog-item__desc {
  width: 560px;
  padding: 12px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item__title {
  display: flex;
  justify-content: space-between;
}
.catalog-item__title-name {
  font-weight: 500;
  font-size: 20px;
}
.catalog-item__title-lot {
  color: #90969D;
}
.catalog-item__info {
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.catalog-item__info:last-child {
  border-bottom: none;
}
.catalog-item__action {
  width: 280px;
  padding: 16px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog-item__action-delete {
  color: #90969D;
  text-align: right;
}
.catalog-item__action-delete:hover {
  text-decoration: none;
}
.catalog-item__action-delete .fa {
  padding-left: 10px;
}
.catalog-item__action-cost {
  font-weight: bold;
  font-size: 26px;
}
.catalog-item__action-details {
  font-weight: 500;
  text-align: center;
  background: #FEDB31;
  border: 0;
  border-radius: 4px;
  padding: 13px;
  margin-top: 10px;
}
.catalog-item__action-details:hover {
  background: #004584;
  color: #fff;
  transition: all 0.3s ease;
}

.setting {
  margin-top: 40px;
}
.setting__header {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}
.setting__form {
  margin-top: 25px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 1px rgba(14, 50, 99, 0.3), 0 0 10px rgba(14, 50, 99, 0.08);
  border-radius: 4px;
}
.setting__form .form-control {
  color: #000;
  border-color: #fff #fff #ced4da;
  border-radius: 0;
}
.setting__form .form-group {
  margin-bottom: 2rem;
}
.setting__button {
  display: flex;
  justify-content: space-between;
}
.setting__button-save {
  width: 50%;
  font-weight: 500;
  text-align: center;
  background: #FEDB31;
  border: 0;
  border-radius: 4px;
  padding: 13px;
  margin-top: 10px;
  margin-right: 20px;
}
.setting__button-save:hover {
  background: #004584;
  color: #fff;
  transition: all 0.3s ease;
}
.setting__button-cancel {
  width: 50%;
  font-weight: 500;
  text-align: center;
  background: #E2E8EF;
  border: 0;
  border-radius: 4px;
  padding: 13px;
  margin-top: 10px;
}
.setting__button-cancel:hover {
  background: #004584;
  color: #fff;
  transition: all 0.3s ease;
}

.post {
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
